&--right {
  @extend .col-reset;

  .advertising {
    background-color: white;
    margin-left: 5px;

    @extend .float-left;
    @extend .list;

    $advertising-item-margin: 5px;
    &__title {
      background-color: #444;
      margin-bottom: $advertising-item-margin;
    }

    &__item {
      border: 1px solid #888;
      width: 98%;
      margin: 0 0 $advertising-item-margin 1%;

      @extend .list__item;
    }

    &__content {
      height: 100px;

      @extend .float-left;
      @extend .w-100;

      &--join {
        background-color: #eee;
        padding: 40px;
        color: #777;
        font-size: 20px;

        @extend .font-weight-bold;
        @extend .text-center;
      }
    }
  }
}
