&--right {
  @extend .col-reset;

  .advertising {
    background-color: white;
    @extend .left;
    margin-left: 5px;
    @extend .list;

    $advertising-item-margin: 5px;
    &__title {
      background-color: #444;
      margin-bottom: $advertising-item-margin;
    }

    &__item {
      border: 1px solid #888;
      @extend .list__item;
      width: 98%;
      margin: 0 0 $advertising-item-margin 1%;
    }

    &__content {
      @extend .left;
      height: 100px;
      width: 100%;

      &--join {
        background-color: #eee;
        padding: 40px;
        color: #777;
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
      }
    }
  }
}
