.sidebar {
  padding-right: 5px;
  padding-left: 0;

  @include tabs(#333);

  &__wrapper {
    width: 100%;
    margin: 0 0 10px 0;
  }

  &__title {
    margin: 0;
    padding: 0.25em;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
  }

  &__schedule {
    $sidebar-schedule-color: #007834;
    $sidebar-schedule-border: darken($sidebar-schedule-color, 5%);
    background-color: #fafafa;
    border-width: 1px 1px 0;
    border-style: solid ;
    border-color: $sidebar-schedule-border;

    .schedule__title {
      background-color: $sidebar-schedule-color;
    }

    .schedule__nav {
      background-color: #222;
      padding: 0;

      .tabs-item {
        $tab-item-width: 100% / 7;
        width: $tab-item-width;
        text-align: center;

        & > a {
          border-radius: 0 !important;
          padding-right: 0;
          padding-left: 0;
        }
      }

      li > a.active {
        color: #222;
      }
    }

    & .schedule {
      $schedule-spacing:  5px;
      $schedule-side-margin: 2px;
      text-align: center;

      &__wrapper {
        border-bottom: 1px solid $sidebar-schedule-border;
        padding-top: $schedule-spacing;

        &:last-child {
          border-bottom: 0;
        }
      }

      %category-color {
        color: #fff !important;
      }

      &__empty {
        padding: 20px 0;
      }

      &__hour {
        @extend %category-color;
        padding: 0 0 0 $schedule-side-margin;

        &-content {
          background-color: $schedule-item-color;
          padding: 10px 0;
          font-weight: bolder;
        }
      }

      %schedule-category--content {
        padding: 5px 0;
        margin-right: $schedule-side-margin;
      }

      &__pole {
        background-color: $schedule-item-color;
        @extend %schedule-category--content;
        @extend %category-color;
      }

      &__category {
        background-color: #fff;
        border-width: 0 2px 1px;
        border-style: solid;
        border-color: $schedule-item-color;
        @extend %schedule-category--content;

        &:last-child {
          border-bottom-width: 2px;
          margin-bottom: $schedule-spacing;
        }
      }
    }
  }

  &__videos {
    $sidebar-videos-color: darken($theme-golden, 5%);

    border: 1px solid $sidebar-videos-color;
    background-color: #e3e3e3;
    display: table;

    &-title {
      background-color: $sidebar-videos-color;
    }

    %videos-item {
      width: 95%;
      margin: 5px 2.5%;
    }

    &-item {
      height: 150px;
      @extend %videos-item;
    }

    &-content {
      width: 100%;
      height: 100%;
    }

    &--no-videos {
      padding: 20px 0;
      text-align: center;
      @extend %videos-item;
    }

    &--more {
      width: 95%;
      margin: 5px 2.5%;
    }
  }
}
