.contact-list {
  $self: &;

  $icons: (
    'facebook': #2153b5,
    'google-plus': #e00,
    'twitter': #00a6d2,
    'youtube': #c00,
    'whatsapp': #00bb34
  );

  &__item {
    @extend .d-inline-block;

    & + & {
      margin-left: 0.5rem;
    }
  }

  &__content {
    @extend .d-block;
    @extend .w-100;

    %icons-hover-settings {
      text-decoration: none;

      @extend .text-white;
    }

    @mixin setIcons($parent) {
      @each $iconName, $iconColor in $icons {
        #{$parent}__icon--#{$iconName} {
          background-color: $iconColor;

          @extend %icons-hover-settings;
        }
      }
    }

    &:hover {
      @include setIcons($self);
    }
  }

  &__icon {
    background-color: white;
    border-radius: 15px;
    width: 30px;
    padding: 5px 0;
    color: #444;
    font-size: 14px;

    @extend .d-inline-block;
    @extend .text-center;
  }
}
