.assessments {
  $assessments-color: lighten($theme-dark, 5%);
  background-color: white;
  border: 1px solid $assessments-color;

  &__title {
    background-color: $assessments-color;
    @extend .color-white;
    @extend .sidebar__title;
  }

  %assessments-child {
    width: 100%;
  }

  .imc {
    $imc-color: #333;
    border: 1px solid $imc-color;
    @extend %assessments-child;

    &__title {
      background-color: $theme-green;
      border: 0;
      margin: 0;
      padding: 10px;
      color: #fff;
      text-align: center;
    }

    &__wrapper {
      border-top: 1px solid $imc-color;
      @extend %assessments-child;

      .form-group {
        margin: 0;
        padding: 15px 0 20px;
      }

      .form-group + .form-group {
        border-top: 1px solid $imc-color;
      }
    }

    &__info {
      &-btn {
        background-color: transparent;
        border-width: 0;
        @extend %assessments-child;
        padding: 5px 0;

        &:hover {
          background-color: #f6f6f6;
        }
      }

      &-content {
        height: 1px;
        overflow: hidden;
        transition: height 1s;
      }

      &--show {
        border-top: 1px solid $imc-color;
        height: 190px;
      }
    }

    &__text {
      background-color: #fafafa;
      margin: 0;
      padding: 5px;
      text-indent: 20px;
    }

    &__calculate {
      background-color: lighten($theme-green, 10%);
      border: 0;
      width: 100%;
      padding: 15px 0;
      @extend .color-white;
    }

    &__result {
      $imc-result-height: $spinner-size + 29px; // 32px by .imc__loader others elements
      background-color: #333;
      height: 0;
      overflow: hidden;
      transition: height 1s;

      &--loading-expand {
        height: $imc-result-height;
      }

      &--message-expand {
        height: 120px;
      }

      &-content {
        @extend .text-center;
        padding: 10px 5px;
      }

      &-value {
        padding-bottom: 10px;
        @extend .color-white;
        font-size: 20px;
        font-weight: bolder;
      }
    }

    &__message {
      $imc-strong-red: #d00;
      $imc-red: #dd4945;
      $imc-green: #00bb34;
      $imc-strong-green: darken($imc-green, 15%);
      height: 100px;
      opacity: 0;
      transition: opacity 1s;

      &--show {
        opacity: 1;
      }

      &--very-underweight {
       color: $imc-strong-red;
      }

      &--underweight {
        color: $imc-red;
      }

      &--normal-weight {
        color: $imc-green;
      }

      &--overweight {
        color: $imc-strong-green;
      }

      &--obesity1 {
        color: $imc-red;
      }

      &--obesity2 {
        color: $imc-strong-red;
      }

      &--obesity3 {
        color: darken($imc-strong-red, 8%);
      }

      &-value {
        font-size: 30px;
        font-weight: bolder;
      }

      &-text {
        padding: 5px 0;
      }

      &-range {
        background-color: #888;
        width: 90%;
        margin: 2.5px auto 0;
        padding: 2.5px 0;
        @extend .color-white;
      }
    }

    &__error {
      @extend .alert-danger;
      opacity: 0;
      overflow: hidden;
      transition: opacity 1s;

      &--show {
        opacity: 1;
      }

      &-message {
        margin: 0;
        padding: 15px 0;
        font-size: 14px;
        @extend .text-center;
      }
    }

    & .loader {
      color: white;
    }
  }
}
