// Helpers
@import "helpers/gradients";
@import "helpers/placeholders";

.row {
    margin: 0 !important;
}

.list {
  list-style: none;
  padding: 0;

  &-item {
    @extend %left;
    width: 100%;
  }
}
