.content {
  padding: 5px 5px 0;
    @import "content-sidebar";

    &__main {
        margin-top: 5px;
    }

    .page {
        background-color: #fff;
        overflow-x: hidden;
        @extend .col-reset;

        &__title {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            margin: 0;
            padding: 10px 0 10px 10%;
            color: white;
        }

        @include media-query("lm") {
            & {
                min-height: 300px;
            }
        }

        @include media-query("sm") {
            & {
                min-height: 800px;
            }
        }
    }
}
