.content {
    @import "content-sidebar";

    &__main {
        padding: 5px 5px 0;
    }

    &__wrap {
        background-color: #fff;
        @extend %left;
        width: 100%;
        overflow-x: hidden;
    }
}
