.footer {
    background-color: rgba(0, 0, 0, .8);

    &-contact {
        padding: 25px 0;
    }

    &-content {
        font-size: 16px;

        @extend .text-white;
        @extend .text-center;

        &--separator {
            font-weight: bolder;
            letter-spacing: 10px;
        }
    }

    @include media-breakpoint-down('sm') {
        &-item + &-item {
            margin-top: 10px;
        }
    }

    @include media-breakpoint-only('sm') {
        &-content {
            font-size: 12px;
        }
    }

    @include media-breakpoint-up('md') {
        &-contact {
            margin-top: 10px;
        }
    }
}
