body {
    background: url('../images/background-lg.png') left bottom no-repeat #222;
    font-style: 14px;

    @include media-query('lg') {
        background-image: url('../images/background-lg.png');
    }
}

.row {
    margin: 0 !important;
}

.list {
  list-style: none;
  padding: 0;

  &-item {
    @extend %left;
    width: 100%;
  }
}

.img {
    height: 100%;
    width: 100%;
}

.tabs {
    padding-top: 5px;
    padding-left: 5px;

    &-item {
        width: 100px;

        & > a {
            color: #fff;
            text-align: center;
        }

        &:not(.active) > a:hover {
            color: $navbar-default-link-hover-color;
        }
    }
}
