body {
    //@include mainGradient(to left, 50%, #222);
    background: url(../images/background-lg.png) top left repeat-y #222;
    font-style: 14px;
}

.row {
    margin: 0 !important;
}

.list {
  list-style: none;
  padding: 0;

  &-item {
    @extend %left;
    width: 100%;
  }
}

.img {
    height: 100%;
    width: 100%;
}
