body {
    background: url('../images/background-lg.png') left bottom no-repeat #222;
    font-size: 14px;

    @include media-query('lg') {
        background-image: url('../images/background-lg.png');
    }
}

// remove production
.border-red {
    border: 1px solid red;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.row {
    margin-right: 0;
    margin-left: 0
}

.col-reset {
    padding-right: 0;
    padding-left: 0;
}

.pagination{
    &--centered {
        text-align: center;
    }

    &--bottom {
        position: relative;
        bottom: 0;
        width: 100%;
    }
}

.list {
  list-style: none;
  padding: 0;

  &__item {
    @extend %left;
    width: 100%;
  }
}

.img {
    height: 100%;
    width: 100%;
}

.tabs {
    padding-top: 5px;
    padding-left: 5px;

    &-item {
        width: 100px;

        & > a {
            color: #fff;
            text-align: center;
        }

        &:not(.active) > a:hover {
            color: $navbar-default-link-hover-color;
        }
    }

    &-empty {
        width: 100%;
        padding: 30px 0;
        text-align: center;
    }
}

.left {
  float: left;
}

.right {
  float: right;
}

.bolder {
  font-weight: bolder;
}

.hidden {
  overflow: hidden;
}

.full {
  width: 100%;
  height: 100%;
}

.reseted {
  margin: 0;
  padding: 0;
}
.color-green {
  color: #008000;
}