.header {
    margin: 0;
    padding: 0;

    @include media-query('lg') {
        background-image: url('../images/header-lg.jpg');
        background-position: center bottom;
        background-repeat: no-repeat;
        height: 250px;
    }

    &-logo {

    }

    &-title {
        text-shadow: 2px 2px 3px #000, -2px -2px 3px #000;

        @include media-query("sm") {
            height: 200px;
        }

        &-content {
            @extend %left;
            width: 80%;
            margin: 0;
            padding: 0;
        }

        &-text {
            @extend %left;
            width: 100%;
            color: $themeGolden;
            @extend %bolder;
        }

        &-subtitle {
            float: right;
            color: #fff;
            @extend %bolder;
        }

        &--default {
            float: left;
            width: 100%;
        }

        @include media-query("sm", true) {
            & {
                &-text {
                    font-size: 40px;
                }

                &-subtitle {
                    font-size: 20px;
                    margin-right: 8%;
                }
            }
        }

        @include media-query("md") {
            & {
                &-text {
                    font-size: 55px;
                }

                &-subtitle {
                    font-size: 24px;
                    margin-right: 10%;
                }
            }
        }
    }


    &-nav {
        margin-bottom: 0;

        &-toggle {
            $headerToggleColor: #ccc;
            border-color: $headerToggleColor;

            .icon-bar {
                background-color: $headerToggleColor;
            }
        }

        a {
            color: #fff;

            &:hover {
                color: #0a7701;
            }
        }

        @include media-query("sm") {
            background-color: rgba(0, 0, 0, .8);

            &-list.collapse {
                margin-top: 5px;
                .nav {
                    display: inline-block;
                    &-item-content {
                        text-shadow: 1px 1px 2px #000, -1px -1px 2px #000;

                        &:hover {
                            text-shadow: none;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        .header-title-text {
            font-size: 28px;
        }

        #header-title-default {
            display: none;
        }

        #header-nav {
            background-color: #111;
        }
    }

    @include media-query("sm") {
        #header-title-collapsed {
            display: none;
        }
    }

    @include media-query("md") {
        .nav-item-content {
            font-size: 18px;
            padding: 6px !important;
        }
    }
}
