&__schedule {
  $sidebar-schedule-color: #007834;
  $sidebar-schedule-border: darken($sidebar-schedule-color, 5%);
  $schedule-spacing:  5px;
  $schedule-side-margin: 2px;

  background-color: #fafafa;
  border-width: 1px 1px 0;
  border-style: solid ;
  border-color: $sidebar-schedule-border;

  &-title {
    background-color: $sidebar-schedule-color;
  }

  &-nav {
    background-color: #222;
    padding: 0;

    .tabs-item {
      $tab-item-width: 100% / 7;
      width: $tab-item-width;

      @extend .text-center;

      & > a {
        border-radius: 0 !important;
        padding-right: 0;
        padding-left: 0;
      }
    }

    li > a.active {
      color: #222;
    }
  }

  &-wrapper {
    border-bottom: 1px solid $sidebar-schedule-border;
    padding-top: $schedule-spacing;

    &:last-child {
      border-bottom: 0;
    }
  }

  &-empty {
    padding: 20px 0;
  }

  &-hour {
    padding: 0 0 0 $schedule-side-margin;

    @extend .text-white;

    &-content {
      background-color: $schedule-item-color;
      padding: 10px 0;

      @extend .font-weight-bold;
    }
  }

  %schedule-category--content {
    padding: 5px 0;
    margin-right: $schedule-side-margin;
  }

  &-pole {
    background-color: $schedule-item-color;

    @extend %schedule-category--content;
    @extend .text-white;
  }

  &-category {
    background-color: #fff;
    border-width: 0 2px 1px;
    border-style: solid;
    border-color: $schedule-item-color;

    @extend %schedule-category--content;

    &:last-child {
      border-bottom-width: 2px;
      margin-bottom: $schedule-spacing;
    }
  }
}
