&__videos {
  $sidebar-videos-color: darken($theme-golden, 5%);

  border: 1px solid $sidebar-videos-color;
  background-color: #e3e3e3;
  display: table;

  &-title {
    background-color: $sidebar-videos-color;
  }

  %videos-item {
    width: 95%;
    margin: 5px 2.5%;
  }

  &-item {
    height: 150px;
    @extend %videos-item;
  }

  &-content {
    @extend .w-100;
    @extend .h-100;
  }

  &--no-videos {
    padding: 20px 0;

    @extend .text-center;
    @extend %videos-item;
  }

  &-more {
    width: 95%;
    margin: 5px 2.5%;

    &:hover {
      background-color: #d00;

      @extend .text-white;
    }
  }
}
