@mixin display-tab($selector, $displayByColor) {
    $displayByBorderColor: darken($displayByColor, 4%);
    $displayByItemHoverBg: lighten($displayByColor, 20%);

    #{$selector}-display-by {
        background-color: $displayByColor;
        border-color: $displayByBorderColor;
        padding-top: 5px;
        padding-left: 5px;
    }

    #{$selector}-display-item {
        width: 100px;

        & > a {
            color: #fff;
            text-align: center;
        }

        &:not(.active) > a:hover {
            background-color: $displayByItemHoverBg !important;
            border-color: $displayByItemHoverBg !important;
            border-bottom-color: $displayByBorderColor !important;
            color: $navbar-default-link-hover-color;
        }

        &.active > a {
            border-color: $displayByBorderColor !important;
            border-bottom-color: transparent !important;
        }
    }
}
