%left {
    float: left;
}

%right {
    float: right;
}

%bolder {
    font-weight: bolder;
}

%hidden {
    overflow: hidden;
}

%full {
    width: 100%;
    height: 100%;
}

%reseted {
    margin: 0;
    padding: 0;
}
