
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Custom
$theme-green: #056a30;
$theme-golden: #f1b92a;
$theme-dark: #333;
$schedule-item-color: #007dd0;
$spinner-size: 50px;
$tabs-darken-percentage: 4%;


// News list
$news-breakpoint1: 800px;
$news-breakpoint2: 1000px;
$news-breakpoint3: 1200px;

$news-breakpoint1-max: $news-breakpoint2 - 1;
$news-breakpoint2-max: $news-breakpoint3 - 1;

$news-right-width1: 40%;
$news-right-width2: 35%;
$news-right-width3: 30%;

$news-left-width1: 60%;
$news-left-width2: 65%;
$news-left-width3: 70%;

// Dashboard
$dashboard-color: #1b7450;//#2ab27b;
$dashboard-nav-color: $dashboard-color;
$dashboard-nav-color-dark: darken($dashboard-nav-color, 10%);
$dashboard-form-color: saturate(lighten($dashboard-color, 5%), 23%);
$dashboard-success-color: darken($dashboard-form-color, 3%);