$headerBg: #00983e;
.header {
    background-color: $headerBg;
    margin: 0;
    padding: 0;


    &-nav {
        &-toggle {
            $headerToggleColor: #ccc;
            border-color: $headerToggleColor;

            .icon-bar {
                background-color: $headerToggleColor;
            }
        }
    }
}

@media (max-width: $screen-xs) {
    #header-title-default {
        display: none;
    }

    #header-nav {
        background-color: darken($headerBg, 10%);
    }
}

@media (min-width: $screen-sm) {
    #header-title-collapsed {
        display: none;
    }
}
