.about {
    $about-color: #444;

    @include titles($about-color);

    @include tabs($about-color, 25%, md);

    .tab-pane {
        min-height: 30rem;
    }

    &__text-wrapper {
        padding: 0 0.5rem;
    }

    &__history-header {
      border-bottom: 1px solid $theme-dark;
      margin: 0 0.5rem 0.2rem;
    }

    &__team {
        $about-team-margin: 0.5rem;
        margin-top: $about-team-margin;

        &:last-child {
          margin-bottom: $about-team-margin;
        }

        &-content {
            border-width: 0 1px 1px;
            border-style: solid;
            border-color: #555;
            align-items: center;
            justify-content: center;

            @extend .d-flex;
            @extend .w-100;

          &:first-child {
            border-top-width: 1px;
          }
        }

        &-avatar {
            height: 15rem;

            @extend .w-100;
            @extend .o-hidden;
        }

        %about-team-item-height {
            height: 3rem;
            padding: 0 0.2rem;
        }

        &-name {
            @extend %about-team-item-height;
            @extend .w-100;
            @extend .font-weight-bold;
        }

        &-role {
            background-color: #fafafa;

            @extend .w-100;
            @extend %about-team-item-height;
        }
    }
}
