.about {
    $about-color: #444;

    @include titles($about-color);

    @include tabs($about-color, 25%, 'sm');

    .tabs-item {
        & > a {
            font-size: 0.9em;

            @include media-breakpoint-up('sm') {
                font-size: 1em;
            }
        }
    }

    &__text-wrapper {
        padding: 0 10px;
    }

    &__history-header {
      border-bottom: 1px solid $theme-dark;
      margin: 0 10px 5px;
    }

    &__team {
        $about-team-margin: 10px;
        margin-top: $about-team-margin;

        &:last-child {
          margin-bottom: $about-team-margin;
        }

        %about-team-item {
          @extend .w-100;
        }

        &-content {
            border-width: 0 1px 1px;
            border-style: solid;
            border-color: #555;
            align-items: center;
            justify-content: center;

            @extend .d-flex;
            @extend %about-team-item;

          &:first-child {
            border-top-width: 1px;
          }
        }

        &-avatar {
            height: 200px;

            @extend %about-team-item;
            @extend .o-hidden;
        }

        %about-team-item-height {
            height: 50px;
            padding: 0 5px;
        }

        &-name {
            @extend %about-team-item-height;
            @extend %about-team-item;
            @extend .font-weight-bold;
        }

        &-role {
            background-color: #fafafa;

            @extend %about-team-item;
            @extend %about-team-item-height;
        }
    }
}
