.assessments {
    padding: 10px 5px;

    .imc {
        $imcColor: #333;

        border: 1px solid $imcColor;

        @include media-query('lm') {
            &{
                width: 100%;
            }
        }

        @include media-query('dm') {
            &{
                width: 80%;
                margin: 0 10%;
            }
        }

        &__title {
            background-color: $themeColor1;
            border: 0;
            margin: 0;
            padding: 10px;
            color: #fff;
            text-align: center;
        }

        &__wrapper {
            border-top: 1px solid $imcColor;
            @extend %hidden;
            padding: 0;

            &--bordered {
                border-left: 1px solid $imcColor;
            }

            .form-group {
                margin: 0;
                padding: 15px 0 20px;
            }

            .form-group + .form-group {
                border-top: 1px solid $imcColor;
            }
        }

        &__text {
            background-color: #fafafa;
            margin: 0;
            padding: 5px;
            text-indent: 20px;
        }

        &__submit {
            background-color: $imcColor;
            border: 0;
            width: 100%;
            padding: 15px 0;
            color: #fff;
        }
    }
}
