.contact {
  @include titles(#333);

  &__section-title {
    background-color: $theme-green;
    padding: 8px 0;
    font-size: 20px;

    @extend .text-white;
    @extend .text-center;

    @include media-breakpoint-up('sm') {
      margin-left: 10px;
    }
  }

  .contacts {
    padding-right: 10px;

    &__subtitle {
      background-color: #333;
      margin-left: 10px;
      padding: 5px 0;
      color: $theme-golden;

      @extend .float-left;
      @extend .text-center;

      @include media-breakpoint-up('sm') {
        margin-left: 15px;
      }
    }

    &__item {
      padding: 5px 0 5px 15px;

      @include media-breakpoint-up('sm') {
        padding-left: 20px;
      }
    }
  }

  .send-email {
    &__message {
      opacity: 0;
      transition: opacity .5s;

      @extend .text-center;

      &--show {
        opacity: 1;
      }
    }

    &__required {
      color: #d00;
    }

    &__fields--error {
      border-color: #d00;
    }

    &__content {
      min-height: 250px;

      @extend .mw-100;
    }

    &__submit {
      margin-top: 15px;
    }
  }

  .localization {
    &__error {
      padding: 15px 0;

      @extend .alert-danger;
      @extend .text-center;
    }

    &__map {
      border: 1px solid $theme-green;
      height: 400px;
      margin-bottom: 10px;

      @extend .w-100;
    }
  }
}
