.home {
  background-color: #fff;
  padding: 5px;

  %home-shadow {
    box-shadow: 2px 2px 4px #333;
  }

  &__wrapper {
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }

  &__title {
    background-color: #333;
    @extend %home-shadow;

    &-text {
      margin: 0;
      padding: 10px 0 10px 15px;
      font-size: 1.4em;

      @extend .text-white;
    }
  }

  &__galery {
    background-color: #222;
    height: 13rem;

    @extend .o-hidden;

    @include media-query(450px, 575px) {
      height: 15rem;
    }

    @include media-query(768px, 800px) {
      height: 16rem;
    }

    @include media-query(801px, 900px) {
      height: 17rem;
    }

    @include media-query(901px, 1000px) {
      height: 18rem;
    }

    @include media-query(1001px, 1100px) {
      height: 19rem;
    }

    @include media-query(1101px, 1200px) {
      height: 20rem;
    }

    @include media-query(1201px) {
      height: 21rem;
    }
  }

  &__photo {
    max-width: 600px;
    margin: 0 auto;

    @extend .d-block;
    @extend .w-100;
  }

  &__history {
    max-height: 500px;
    position: relative;
    transition: max-height 1s;

    @extend .o-hidden;

    &--expand {
      max-height: 1800px;
    }

    $content-padding: 5%;
    &-content {
      margin-bottom: 10px;
      padding: 10px $content-padding;
    }

    &-toggle {
      background-color: white;
      border: 1px solid #ddd;
      width: 100% - ($content-padding * 2);
      padding: 5px $content-padding 5px 0;
      position: absolute;
      bottom: 0;
      left: $content-padding;
      z-index: 1;
      color: $theme-dark;

      @extend .d-block;
      @extend .text-right;
      @extend .font-weight-bold;

      &:hover {
        background-color: #fafafa;
      }
    }
  }

  &__news {
    &-header {
      width: 40%;
    }

    &-more {
      border-radius: 0;

      @extend .w-100;
    }
  }
}
