.home {
  background-color: #fff;
  padding: 5px;

  %home-shadow {
    box-shadow: 2px 2px 4px #333;
  }

  &__wrapper {
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }

  &__title {
    background-color: #333;
    @extend %home-shadow;

    &-text {
      margin: 0;
      padding: 10px 0 10px 15px;
      color: #fff;
      font-size: 1.4em;
    }
  }

  &__galery {
    background-color: #222;
    height: 350px;
    overflow: hidden;
  }

  &__photo {
    img {
      margin: 0 auto;
    }
  }

  &__history {
    max-height: 500px;
    overflow: hidden;
    position: relative;
    transition: max-height 1s;

    &--expand {
      max-height: 1800px;
    }

    $content-padding: 5%;
    &-content {
      margin-bottom: 10px;
      padding: 10px $content-padding;
    }

    &-toggle {
      background-color: white;
      border: 1px solid #ddd;
      display: block;
      width: 100% - ($content-padding * 2);
      padding: 5px $content-padding 5px 0;
      position: absolute;
      bottom: 0;
      left: $content-padding;
      z-index: 1;
      color: $theme-dark;
      font-weight: bold;
      text-align: right;

      &:hover {
        background-color: #fafafa;
      }
    }
  }

  &__news {
    &-header {
      width: 40%;
    }

    &-more {
      width: 100%;
      border-radius: 0;
    }
  }
}
