.news {
  background-color: #f8f8f8 !important;
  min-height: 15rem;

  @include media-query($news-breakpoint1) {
    padding-bottom: 1rem;
  }

  @include media-breakpoint-up('sm') {
    background-color: white !important;
  }

  @include titles($theme-green);

  &__empty {
    padding: 10px 0;
    color: #555;

    @extend .text-center;
  }

  &-full {
    margin: 5px;

    &__header {
      border-bottom: 1px solid #ddd;

      &-title {
        padding: 0.3rem;

        @extend .text-justify;
      }

      &-published {
        padding: 0.7rem 0 0.7rem 1.7rem;
        color: #777;
      }
    }

    &__content {
      margin-top: 1rem;
      padding: 0 0.3rem;

      @extend .text-justify;

      p {
        @extend .o-hidden;
      }

      img {
        height: 200px;

        @extend .w-100;

        @include media-breakpoint-up('sm') {
          height: 230px;
        }

        @include media-breakpoint-up('md') {
          width: auto;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
