.news {
  background-color: #f8f8f8 !important;

  @include media-query('sm') {
    background-color: white !important;
  }

  @include titles($theme-green);

  &__empty {
    padding: 10px 0;
    color: #555;
    text-align: center;
  }

  &__search {
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;

    @include media-query('sm') {
      width: 60%;
    }

    @include media-query('md') {
      width: 40%;
    }

    @include media-query('lg') {
      width: 30%;
    }

    &-field {
      @extend .left;
      @extend .col-reset;
      width: 85%;
    }

    &-input {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      width: 100%;

      @include media-query('sm')
      {
        width: 100% !important; //overwriting bootstrap default value
      }
    }

    &-btn {
      border-left: 0;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      @extend .right;
      width: 15%;
      margin: 0;
      color: #777;
    }
  }

  &-full {
    margin: 5px;

    &__header {
      border-bottom: 1px solid #ddd;

      &-title {
        text-align: justify;
        padding: 5px;
      }

      &-published {
        padding: 10px 0 10px 20px;
        color: #777;
      }
    }

    &__content {
      margin-top: 10px;
      padding: 0 5px;
      text-align: justify;

      p {
        overflow: hidden;
      }

      img {
        width: 100%;
        height: 200px;

        @include media-query('xs') {
          height: 230px;
        }

        @include media-query('md') {
          width: auto;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
