.news {
  background-color: #f8f8f8 !important;

  @include media-query('sm') {
    background-color: white !important;
  }

  @include titles($theme-green);

  &__search {
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;

    @include media-query('sm') {
      width: 60%;
    }

    @include media-query('md') {
      width: 40%;
    }

    @include media-query('lg') {
      width: 30%;
    }

    &-field {
      @extend .left;
      @extend .col-reset;
      width: 85%;
    }

    &-input {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      width: 100%;

      @include media-query('sm')
      {
        width: 100% !important; //overwriting bootstrap default value
      }
    }

    &-btn {
      border-left: 0;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      @extend .right;
      width: 15%;
      margin: 0;
      color: #777;
    }
  }
}
