.photos {
    @include titles($theme-golden);

    @include tabs($theme-golden, 50%, 'sm');

    %photos-album-border {
        border-style: solid;
        border-color: darken($theme-golden, 20%);
    }

  &__modal {
    @extend .text-center;

    @include media-breakpoint-up('sm') {
      position: absolute;
    }

    &-header {
      background-color: $theme-golden;
      border-top-right-radius: 6px; // 6px from .modal bootstrap class
      border-top-left-radius: 6px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

    &__album{
        background-color: lighten($theme-golden, 7%);
        border-width: 1px;
        margin-top: 15px;

        @extend .col-reset;
        @extend .text-center;
        @extend %photos-album-border;

        %photos-album-padding {
            padding: 10px 0;
        }

        &-back {
            border-width: 0 1px 0 0;
            width: 15%;

            @extend %photos-album-border;
            @extend .float-left;

            a {
                color: $theme-dark;

                @extend .w-100;
                @extend .float-left;
                @extend %photos-album-padding;
            }
        }

        &-title {
            width: 85%;
            @extend .float-right;
            @extend %photos-album-padding;
        }
    }

    .photo {
        margin-top: 10px;
        margin-bottom: 10px;

        @extend .float-left;
        @extend .w-100;
        @extend .o-hidden;

        &:hover {
            background-color: #222;
        }

        %photo-content-border {
          border-style: solid;
          border-color: #222;
        }

        &__content {
          border-width: 1px;
          height: 250px;

          @extend .w-100;
          @extend %photo-content-border;
        }

        &__album-name {
          background-color: #fafafa;
          border-width: 0 1px 1px;
          padding: 10px;
          color: $theme-dark;

          @extend .font-weight-bold;
          @extend .text-center;
          @extend %photo-content-border;
        }
    }
}
