.photos {
    $selector: &;
    $photos-color: $theme-golden;
    //@include display-tab($selector, darken($photos-color, 5%));

    &-title {
        background-color: $photos-color;
        border-bottom-color: darken($photos-color, 10%);
    }

    &-navigation {
        text-align: center;
    }

    &-album-title {
        background-color: lighten($photos-color, 5%);
        border: 1px solid darken($photos-color, 30%);
        padding: 10px 0;
        text-align: center;
    }

    .photo {
        width: 100%;
        height: 250px;
        @extend %left;
        @extend %hidden;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 2px;

        &:hover {
            background-color: #222;
        }

        &-content {
            border: 1px solid #222;
            @extend %full;
        }
    }
}
