.videos {
  $videos-color: #d00;
  @include titles($videos-color);

  &-modal {
    &__header {
      background-color: $videos-color;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
  }

  &__list {
    margin: 10px 0 5px;
    @extend .list;
  }

  &__item{
    margin-bottom: 10px;

    &-content {
      border: 2px solid #d00;
      @extend .float-left;
      @extend .w-100;
      @extend .h-100;
    }

    &-thumb {
      height: 180px;
      @extend .w-100;

      @include media-breakpoint-only('md') {
        height: 150px;
      }

      @include media-breakpoint-up('lg') {
        height: 120px;
      }
    }

    &-title {
      $height: 1em * 3;
      boder: 1px solid red;
      height: $height;
      padding: 3px;
      color: $theme-dark;

      @extend .o-hidden;
      @extend .text-center;
    }
  }

  &__channel-link {
    @extend .float-left;
    width: 60%;
    margin: 0 20% 10px;
    padding: 5px 0;

    &:hover {
      background-color: $videos-color;
      @extend .text-white;
    }
  }
}
