.videos {
  $videos-color: #d00;
  @include titles($videos-color);

  &__list {
    margin: 10px 0 5px;
    @extend .list;
  }

  &__item{
    margin-bottom: 10px;

    &-content {
      border: 2px solid #d00;
      @extend %left;
      @extend %full;
    }

    &-thumb {
      height: 180px;
      width: 100%;

      @include media-query('md', true) {
        height: 150px;
      }

      @include media-query('lg') {
        height: 120px;
      }
    }

    &-title {
      $height: 1em * 3;
      boder: 1px solid red;
      height: $height;
      overflow: hidden;
      padding: 3px;
      color: $theme-dark;
      @extend .text-center;
    }
  }

  &__channel-link {
    @extend .left;
    width: 60%;
    margin: 0 20% 10px;
    padding: 5px 0;

    &:hover {
      background-color: $videos-color;
      color: white;
    }
  }
}
