&__auth {
  background-color: $dashboard-nav-color-dark;
  padding: 0.2rem 0.1rem 0.1rem;

  &-avatar {
    height: 4rem;
    width: 4rem;

    @extend %dashboard-user-avatar;

    .img {
      border-color: darken($dashboard-nav-color-dark, 10%);
    }
  }

  &-name {
    border-color: darken($dashboard-nav-color-dark, 5%) !important;

    @extend %dashboard-user-text;
  }

  &-logout {
    background-color: darken($dashboard-nav-color-dark, 5%);
    border: 0;

    @extend .w-100;
    @extend .text-white;
  }
}