.dashboard {
  background-color: white;

  @include media-breakpoint-up(md) {
    background-color: $dashboard-color;
  }

  &--login {
    background-color: lighten($dashboard-nav-color,10%);
  }

  .min-h-100 {
    min-height: 100% !important;
  }

  .h-md-100 {
    @include media-breakpoint-up(md) {
      height: 100% !important;
    }
  }

  .app {
    @extend .h-100;
  }

  &__wapper-nav {
    @extend .col-12;
    @extend .col-md-1;
    @extend .col-reset;

    @include media-breakpoint-up(xl) {
      flex-basis: 5%;
      max-width: 5%;
    }
  }

  &__wrapper-content {
    @extend .col-12;
    @extend .col-md-11;
    @extend .col-reset;

    @include media-breakpoint-up(xl) {
      flex-basis: auto;
      max-width: 95%;
    }
  }

  @import "navbar";

  @import "auth";

  @import "content";

  @import "users";

  @import "schedules";
}