.dashboard {
  background-color: white;

  @include media-breakpoint-up(md) {
    background-color: $dashboard-color;
  }

  &--login {
    background-color: lighten($dashboard-nav-color,10%);
  }

  .min-h-100 {
     min-height: 100% !important;
  }

  .app {
    @extend .h-100;
  }

  @import "navbar";

  @import "user";

  $title-height: 2.6rem;
  $subtitle-font-size: 2rem;
  $subtitle-padding-top: $title-height - $subtitle-font-size;
  &__title {
    background-color: $dashboard-nav-color-dark;
    padding-top: 0;
    padding-bottom: 0;
    height: 4rem;
    font-size: $title-height;

    @extend .w-100;
    @extend .text-white;

    &-text {
      background-color: $dashboard-nav-color;
      width: 60%;
      padding-left: 2rem;

      @extend .d-none;
      @extend .d-md-block;
      @extend .float-left;
      @extend .h-100;

      @include media-breakpoint-up(lg) {
        width: 50%;
      }
    }

    &-arrow {
      background: url("../images/dashboard-title-arrow.png") no-repeat left center;
      background-size: contain;
      width: 70px;

      @extend .d-none;
      @extend .d-md-block;
      @extend .float-left;
      @extend .h-100;
    }

    &-subtitle {
      padding-top: $subtitle-padding-top;
      font-size: $subtitle-font-size;

      @extend .float-left;
      @extend .w-100;
      @extend .h-100;
      @extend .text-white;
      @extend .text-center;

      @include media-breakpoint-up(md) {
        width: auto !important;
        margin-left: 1.5rem;
        color: lighten($dashboard-color, 5%) !important;
        text-align: left;
      }

      @include media-breakpoint-only(lg) {
        margin-left: 3rem;
      }

      @include media-breakpoint-up(xl) {
        margin-left: 4rem;
      }
    }
  }

  &__content {
    background-color: white;

    @extend .w-100;
    @extend .min-h-100;
  }
}