&__form {
  .btn-success,
  &-trigger {
    background-color: darken($dashboard-form-color, 3%);
  }

  &-trigger {
    @mixin btnSettings($width, $ml) {
      width: $width;
      margin-left: $ml;
    }

    @include btnSettings(80%, 10%);

    @include media-breakpoint-only(sm) {
      @include btnSettings(50%, 25%);
    }
  }

  .modal-content {
    background-color: transparent;
  }

  .modal-header {
    @extend .text-white;

    &.form-header--insert {
      background-color: $dashboard-form-color;
    }

    &.form-header--edit {
      background-color: $danger;
    }
  }

  .modal-footer {
    background-color: white;
  }
}