&__users {
  @extend %dashboard-page;

  &-item {
    margin-bottom: 1rem;

    @extend .col-8;
    @extend .col-sm-4;
    @extend .col-lg-3;
    @extend .col-xl-2;
  }

  &-grants-trigger {
    font-size: 0.9em;

    @include media-breakpoint-between(sm, md) {
      font-size: 0.7em;
    }
  }

  &-insert {
    @extend .dashboard__form;

    @include media-breakpoint-up(md) {
      .modal-content {
        max-width: 400px;
      }
    }
  }  
 
  .dashboard__upload {
    border: 1px solid #ddd;
    margin-right: 1rem;
    margin-left: 1rem;

    &.alert-danger {
      @extend .border-danger;

      .dashboard__user-avatar img {
        @extend .border-danger;
      }
    }
  }
}

%dashboard-user-avatar {
  margin: 0 auto 0.4rem;

  @extend .text-center;

  .img {
    border-width: 1px;
    border-style: solid;

    @extend .rounded-circle;
  }
}

%dashboard-user-text {
  border-width: 1px 0 0;
  border-style: solid;
  padding: 0.3rem 0.2rem;

  @extend .w-100;
  @extend .text-center;
 }

&__user {
  $dashboard-user: #f8f8f8;
  $dashboard-user-border: darken($dashboard-user, 10%);

  background-color: $dashboard-user;
  border: 1px solid $dashboard-user-border;
  box-shadow: 1px 2px 3px #eee;
  padding: 0.2rem 0 0.1rem;

  @extend .position-relative;

  .mask__content {
    z-index: 1;
  }

  &-controls {
    margin-top: -1rem; // To centralize vertically get to reference the .fa-2x size
    top: 50%;
    z-index: 2;

    @extend .w-100;
    @extend .position-absolute;
    @extend .text-white;
    @extend .text-center;

    .fa + .fa {
      margin-left: 1.5rem;
    }
  }

  &-avatar {
    height: 6rem;
    width: 6rem;


    @extend %dashboard-user-avatar;

    .img {
      border-color: $dashboard-user-border;
    }
  }

  &-item {
    background-color: lighten($dashboard-user, 10%);
    border-color: $dashboard-user-border;

    @extend %dashboard-user-text;
  }

  &-trigger {
    color: #888;
    cursor: pointer;

    @extend .w-100;
    @extend .h-100;
  }
}