.news-list {
  %news-item-border {
    border-style: solid;
    border-color: #bbb;
  }

  &__item {
    border-width: 0;
    margin-bottom: 0.5rem;

    @extend .float-left;
    @extend .w-100;
    @extend %news-item-border;

    @include media-query($news-breakpoint1) {
      border-top: 1px;
      padding-top: 0.5rem;

      &:first-child {
        border-top: 0;
      }
    }

    &:first-child {
      margin-top: 1rem;
    }
  }

  &__content {
    background-color: white;
    border-width: 1px;

    @extend %news-item-border;
    @extend .float-left;
    @extend .w-100;

    @include media-query($news-breakpoint1) {
      border-width: 0;
      padding: 0.5rem 0;
      position: relative;
    }

    &:hover {
      $hover-color: #88dab0;
      $hover-children-color: darken($hover-color, 50%);
      background-color: $hover-color;
      border-bottom-color: transparent;

      .news-list__cover {
        border-right-color: $hover-children-color;

        img {
          border-color: $hover-children-color;
        }
      }

      .news-list__subject {
        color: $hover-children-color;
      }

      .news-list__published {
        color: $hover-children-color;
      }
    }
  }

  &__cover {
    $cover-margin: 0.3rem;

    @extend .col-reset;

    @include media-query($news-breakpoint1) {
      border-right: 1px solid  #bbb;
      float: left;
      height: 9rem;
      padding-right: $cover-margin !important;
      padding-left: $cover-margin !important;
    }

    @include media-query($news-breakpoint1, $news-breakpoint1-max) {
      width: $news-right-width1;
    }

    @include media-query($news-breakpoint2) {
      text-align: center;
    }

    @include media-query($news-breakpoint2, $news-breakpoint2-max) {
      width: $news-right-width2;
    }

    @include media-query($news-breakpoint3) {
      width: $news-right-width3;
    }

    img {
      height: auto;
      margin: 0 auto;

      @extend .w-100;

      @include media-query($news-breakpoint1) {
        border: 1px solid transparent;
        height: 100% !important;
      }

      @include media-query($news-breakpoint2) {
        width: auto !important;
        max-width: 100%;
      }
    }
  }

  %news-text {
    padding-top: 10px;
    padding-bottom: 10px;

    @extend .text-center;
  }

  &__subject {
    color: lighten($theme-dark, 20%);

    @extend %news-text;
    @extend .font-weight-bold;

    @include media-query($news-breakpoint1) {
      float: left;
    }

    @include media-query($news-breakpoint1, $news-breakpoint1-max) {
      width: $news-left-width1;
    }

    @include media-query($news-breakpoint2, $news-breakpoint2-max) {
      width: $news-left-width2;
    }

    @include media-query($news-breakpoint3) {
      width: $news-left-width3;
    }
  }

  &__published {
    color: lighten($theme-dark, 40%);

    @extend %news-text;
    @extend .font-weight-bold;

    @include media-query($news-breakpoint1) {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    @include media-query($news-breakpoint1, $news-breakpoint1-max) {
      width: $news-left-width1;
    }

    @include media-query($news-breakpoint2) {
      width: $news-left-width2;
    }
  }
}
